.App {
}

main {
    width: 1280px;
    margin: auto;
    padding: 50px 0 0;
}

.editor-js-wrapper {
    /* background: #efefef; */
}

.entries__item {
    margin-bottom: 20px;
    padding: 10px 15px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background: #efefef;
}

.entries__item-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.entries__item:hover {
    color: #000;
    background-color: #ebebeb;
}

.entries__item:last-of-type {
    margin: 0;
}

.entries__item-date {
}
